.tw-form__row {
  margin-bottom: 12px;
}

.tw-form__row:last-child {
  margin-top: 24px;
}

.tw-form__row label {
  padding-right: 10px;
  min-width: 80px;
}

.tw-form__postbox {
  min-width: 150px;
  margin-bottom: 0;
}

.tw-form__button {
  min-width: 150px;
  text-align: center;
}

.tw-form__button:first-child {
  margin-right: 10px;
}

.tw-form__img-container img {
  max-width: 200px;
}

.tw-form__img-btn {
  margin-top: 4px;
}
